<section class="py-2 text-center container">
  <div class="row py-lg-2">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text-white fw-bold">Resultados de eleccion <span class="text-warning">{{eleccion.name}}</span></h1>
    </div>
  </div>
</section>

<div class="album">
  <div class="container">
    <h2>Puestos disputados</h2>
    <div class="d-flex justify-content-evenly">

      {{#if hasCandidatos}}
      
      {{#each puestos as |puesto|}}

      <div class="card col-5">
        <div class="card-body">
          <h5 class="card-title">{{puesto.name}}</h5>

          {{#each ../candidatos as |pC|}}

          {{#if (equalValue puesto.Id pC.PuestoId)}}
          <div>
            {{#if (equalValue "NINGUNO" pC.name)}}
            <img class="img-fluid" style="width: 50px;" src="/assets/img/ninguno.jpeg"></img>
            
            {{else}}
            <img class="img-fluid" style="width: 50px;" src="{{pC.imgPerfil}}"></img>
            {{/if}}
            
            <div class="d-flex flex-column">
              <p class="">Candidato: <span class="btn btn-primary float-end">{{pC.name}}</span></p>
              <p class="">Votos: <span class="btn btn-primary float-end"> {{pC.votos}} -- {{pC.votosPorcentaje}}%</span></p>
              

              {{#each pC.partido as |pa| }}
                <p class="">Partido: <span class="btn btn-primary float-end"> {{pa.name}}</span></p>
              {{/each}}
            </div>

          </div>
          {{/if}}
          {{/each}}

        </div>
      </div>

      {{/each}}

      {{else}}

      <h1 class="fw-bold text-danger">No hay votos depositados en esta eleccion</h1>

      {{/if}}

    </div>
  </div>
</div>