<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Sistema de elecciones</h1>
      <a href="/create-puesto" class="btn btn-primary my-2">Crear nuevo puesto electivo</a>
        {{#if isAuthenticated}}
        
        {{/if}}
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {{#if hasPuestos}}

        {{#each puestos as |puesto|}}

          <div class="card col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{puesto.name}}</h5>
              <p class="card-text">{{puesto.description}}</p>
              <p class="card-subtitle mb-2 text-muted">{{puesto.status}}</p>
              <p class="card-subtitle mb-2 text-muted">Id: {{puesto.Id}}</p>
                <a
                  href="/edit-puesto/{{puesto.Id}}?edit=true"
                  class="btn btn-warning"
                >Editar</a>

              <form class="form-inline form-delete" action="/delete-puesto" method="post">
                <input type="hidden" name="puestoId" value="{{puesto.Id}}" />
                <button type="submit" class="btn btn-danger delete-puesto">Eliminar</button>

              </form>
               {{#if ../isAuthenticated}}
             
              {{/if}}
            </div>
          </div>

        {{/each}}

      {{else}}

        <h1>no hay puestos creados</h1>

      {{/if}}

    </div>
  </div>
</div>