<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">Mantenimiento de puesto</h1>
      <a href="/create-puesto" class="btn btn-primary my-2">Crear nuevo puesto</a>
      {{#if isAuthenticated}}

      {{/if}}
    </div>
  </div>
</section>

<div class="album py-5">
  <div class="container">

    <div class="row">

      {{#if hasPuestos}}
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Estado</th>
            {{#if hasEleccionActive}}
            
            {{else}}
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            {{/if}}
            
          </tr>
        </thead>
        <tbody>

          {{#each puestos as |puesto|}}
          <tr>
            <th scope="row">{{puesto.Id}}</th>
            <td>{{puesto.name}}</td>
            <td>{{puesto.description}}</td>
            <td>{{#if puesto.status}}Activo{{else}}Inactivo{{/if}}</td>
            {{#if ../hasEleccionActive}}

            {{else}}
              <td>
                <a href="/edit-puesto/{{puesto.Id}}?edit=true" class="btn btn-warning">Editar</a>
              </td>
              <td>
                {{#if puesto.status}}
                <form class="form-inline form-delete" action="/delete-puesto" method="post">
                  <input type="hidden" name="puestoId" value="{{puesto.Id}}" />
                  <button type="submit" class="btn btn-danger delete-puesto">Inactivar</button>
                </form>
                {{else}}
                <form class="form-inline" action="/activar-puesto" method="post">
                  <input type="hidden" name="puestoId" value="{{puesto.Id}}" />
                  <button type="submit" class="btn btn-success ">Activar</button>
                </form>
              
                {{/if}}
              
              </td>
            {{/if}}
           
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if ../isAuthenticated}}

      {{/if}}
      {{else}}

      <h1 class="fw-light text-white">no hay puestos creados</h1>

      {{/if}}

    </div>
  </div>
</div>