<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">Mantenimiento de elecciones</h1>
      {{#if canCreateEleccion}} <div class="alert alert-info" role="alert">
        No se permite crear elecciones, si ya existe una eleccion activa
      </div> 
      {{else}} 
       {{#if thereisCandidatos}}
  <div class="alert alert-info" role="alert">
      No existen al menos dos candidatos
creados y activos.
      </div> 
  {{else}}
     <a href="/create-eleccion" class="btn btn-primary my-2 ">Crear nueva elección</a> 
  {{/if}}
     
      {{/if}}

    </div>
  </div>
</section>

<div class="album py-5">
  <div class="container">

    <div class="row">

      {{#if hasEleccion}}

      {{#each eleccion as |eleccion|}}

      <div class="card bg-dark text-white col-md-4 me-2">
        <div class="card-body">
          <h5 class="card-title mb-2 text-capitalize">{{eleccion.name}}</h5>
          <h6 class="card-subtitle mb-2">Fecha: {{eleccion.fechaRealizacion}}</h6>
          <h6 class="card-subtitle text-muted mb-2">Estado: 
            {{#if eleccion.status}} <span class="text-success fw-bold">Activa</span> 
            {{else}}Inactiva {{/if}}
          </h6>

          {{!-- <a href="/edit-eleccion/{{eleccion.Id}}?edit=true" class="btn btn-warning">Editar</a> --}}


          {{!-- <form class="form-inline form-delete" action="#" method="post">
            <input type="hidden" name="eleccionId" value="{{eleccion.Id}}" />
            <button type="submit" class="btn btn-success">Iniciar</button>
          </form> --}}

          {{#if eleccion.status}}
          <form class="form-inline form-delete" action="/delete-eleccion" method="post">
            <input type="hidden" name="eleccionId" value="{{eleccion.Id}}" />
            <button type="submit" class="btn btn-danger delete-eleccion float-end">Finalizar</button>
          </form>
          {{else}}
          <a href="/eleccion-results/{{eleccion.Id}}" class="btn btn-primary float-end">Resultados</a>
          {{/if}}





          {{#if ../isAuthenticated}}

          {{/if}}
        </div>
      </div>

      {{/each}}

      {{else}}

      <h1 class="fw-light text-white">no hay elecciones creados</h1>

      {{/if}}

    </div>
  </div>
</div>