<div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


    <div class="card">
      <div class="card-header bg-dark text-white">
        {{#if editMode}}Edicion{{else}}Creacion{{/if}} de ciudadano
      </div>
      <div class="card-body">

        <form enctype="multipart/form-data" class="needs-validation" novalidate method="POST" action="{{#if editMode}}/edit-ciudadano{{else}}/create-ciudadano{{/if}}">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required value="{{#if editMode}}{{ciudadano.name}}{{/if}}" />
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required value="{{#if editMode}}{{ciudadano.lastName}}{{/if}}" />
          </div>

          <div class="mb-3">
            <label for="IdDoc" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="IdDoc" name="IdDoc" required value="{{#if editMode}}{{ciudadano.IdDoc}}{{/if}}" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required value="{{#if editMode}}{{ciudadano.email}}{{/if}}" />
          </div>


         

          {{#if editMode}}

          <input type="hidden" name="ciudadanoId" value="{{ciudadano.Id}}">
          
          {{/if}}

          <button type="submit" class="btn btn-primary btn-create-validations">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
           <a href="/ciudadano" type="button" class="btn btn-warning">volver atras</a>
        </form>

      </div>
    </div>

  </div>
  <div class="col-md-6"></div>

</div>